In [4]:
# Contoh membuat DataFrame sederhana dan operasi dasar
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('HandsOnPertemuan6').getOrCreate()

data = [('Dhiya', 'Pengacara', 16000000),
        ('Risma', 'Bidan', 6000000),
        ('Nasywaa', 'Pilot', 22000000),
        ('Eka', 'Tentara', 6000000)]
columns = ['EmployeeName', 'Department', 'Salary']

df = spark.createDataFrame(data, schema=columns)
df.show()

+------------+----------+--------+
|EmployeeName|Department|  Salary|
+------------+----------+--------+
|       Dhiya| Pengacara|16000000|
|       Risma|     Bidan| 6000000|
|     Nasywaa|     Pilot|22000000|
|         Eka|   Tentara| 6000000|
+------------+----------+--------+

In [2]:
# Contoh operasi transformasi DataFrame
df.select('EmployeeName', 'Salary').show()
df.filter(df['Salary'] > 3000).show()
df.groupBy('Department').avg('Salary').show()!pip install pandas==2.2.2 numpy pyspark==3.4.1

Collecting pandas==2.2.2
  Downloading pandas-2.2.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (19 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.26.4)
Collecting pyspark==3.4.1
  Downloading pyspark-3.4.1.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 4.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas==2.2.2) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas==2.2.2) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas==2.2.2) (2024.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark==3.4.1) (0.10.9.7)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas==2.2.2) (1.16.0)
Downloading pandas-2.2.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (13.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.0/13.0 MB 94.6 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.1-py2.py3-none-any.whl size=311285391 sha256=d67c06bf6475ea6e1aba553356c154222b5c092fb6b9f43f77c5e50871b80456
  Stored in directory: /root/.cache/pip/wheels/0d/77/a3/ff2f74cc9ab41f8f594dabf0579c2a7c6de920d584206e0834
Successfully built pyspark
Installing collected packages: pyspark, pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 2.1.4
    Uninstalling pandas-2.1.4:
      Successfully uninstalled pandas-2.1.4
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
cudf-cu12 24.4.1 requires pandas<2.2.2dev0,>=2.0, but you have pandas 2.2.2 which is incompatible.
google-colab 1.0.0 requires pandas==2.1.4, but you have pandas 2.2.2 which is incompatible.
Successfully installed pandas-2.2.2 pyspark-3.4.1

In [5]:
# Contoh operasi transformasi DataFrame
df.select('EmployeeName', 'Salary').show()
df.filter(df['Salary'] > 3000).show()
df.groupBy('Department').avg('Salary').show()

+------------+--------+
|EmployeeName|  Salary|
+------------+--------+
|       Dhiya|16000000|
|       Risma| 6000000|
|     Nasywaa|22000000|
|         Eka| 6000000|
+------------+--------+

+------------+----------+--------+
|EmployeeName|Department|  Salary|
+------------+----------+--------+
|       Dhiya| Pengacara|16000000|
|       Risma|     Bidan| 6000000|
|     Nasywaa|     Pilot|22000000|
|         Eka|   Tentara| 6000000|
+------------+----------+--------+

+----------+-----------+
|Department|avg(Salary)|
+----------+-----------+
|     Bidan|  6000000.0|
| Pengacara|      1.6E7|
|   Tentara|  6000000.0|
|     Pilot|      2.2E7|
+----------+-----------+

In [8]:
# 3 Menambahkan kolom bonus
df_with_bonus = df.withColumn('SalaryBonus', df['Salary'] * 0.1)

# Menambahkan kolom TotalCompensation menggunakan df_with_bonus
df_with_total = df_with_bonus.withColumn('TotalCompensation', df_with_bonus['Salary'] + df_with_bonus['SalaryBonus'])

# Menampilkan DataFrame dengan kolom baru
df_with_total.show()

+------------+----------+--------+-----------+-----------------+
|EmployeeName|Department|  Salary|SalaryBonus|TotalCompensation|
+------------+----------+--------+-----------+-----------------+
|       Dhiya| Pengacara|16000000|  1600000.0|           1.76E7|
|       Risma|     Bidan| 6000000|   600000.0|        6600000.0|
|     Nasywaa|     Pilot|22000000|  2200000.0|           2.42E7|
|         Eka|   Tentara| 6000000|   600000.0|        6600000.0|
+------------+----------+--------+-----------+-----------------+

In [9]:
# 4 Contoh menggunakan window functions
from pyspark.sql.window import Window
from pyspark.sql import functions as F

windowSpec = Window.partitionBy('Department').orderBy('Salary')
df.withColumn('Rank', F.rank().over(windowSpec)).show()

+------------+----------+--------+----+
|EmployeeName|Department|  Salary|Rank|
+------------+----------+--------+----+
|       Risma|     Bidan| 6000000|   1|
|       Dhiya| Pengacara|16000000|   1|
|     Nasywaa|     Pilot|22000000|   1|
|         Eka|   Tentara| 6000000|   1|
+------------+----------+--------+----+