In [ ]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.7.0-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 15.3 MB/s eta 0:00:00
Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 313.6/313.6 kB 26.7 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.10.1

In [ ]:
# 1
from pymongo import MongoClient, InsertOne, UpdateOne, DeleteOne

client = MongoClient('mongodb+srv://dhiyarahma13:sampah13@cluster0.fi1av.mongodb.net/')
db = client['university_db']
courses_collection = db['courses']

operations = [
    InsertOne({'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}),
    InsertOne({'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}),
    InsertOne({'course': 'History 201', 'enrollments': 20, 'department': 'History'}),
    InsertOne({'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics'})
]
courses_collection.bulk_write(operations)
print('Courses inserted successfully.')

Courses inserted successfully.

In [ ]:
# 2
# Query for courses with enrollments greater than 20
for course in courses_collection.find({'enrollments': {'$gt': 20}}):
    print(course)

{'_id': ObjectId('673d2ecd80008de1e47b3b47'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('673d2ecd80008de1e47b3b48'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}
{'_id': ObjectId('673d475981d818153238c41a'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('673d475981d818153238c41b'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}

In [ ]:
# Query courses in Computer Science or Mathematics departments
for course in courses_collection.find({'department': {'$in': ['Computer Science', 'Mathematics']}}):
    print(course)

{'_id': ObjectId('673d2ecd80008de1e47b3b47'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('673d2ecd80008de1e47b3b48'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}
{'_id': ObjectId('673d475981d818153238c41a'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('673d475981d818153238c41b'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}

In [ ]:
# 3
# Average enrollment per department using aggregation
pipeline = [
    {'$group': {'_id': '$department', 'average_enrollment': {'$avg': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Computer Science', 'average_enrollment': 25.0}
{'_id': 'History', 'average_enrollment': 20.0}
{'_id': 'Physics', 'average_enrollment': 15.0}
{'_id': 'Mathematics', 'average_enrollment': 30.0}

In [ ]:
# Maximum enrollment per department
pipeline = [
    {'$group': {'_id': '$department', 'max_enrollment': {'$max': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Computer Science', 'max_enrollment': 25}
{'_id': 'Mathematics', 'max_enrollment': 30}
{'_id': 'Physics', 'max_enrollment': 15}
{'_id': 'History', 'max_enrollment': 20}

In [ ]:
# 4
# Projection to rename fields
pipeline = [
    {'$project': {'course_name': '$course', 'department_name': '$department', 'enrollments': 1}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('673d2ecd80008de1e47b3b47'), 'enrollments': 30, 'course_name': 'Math 101', 'department_name': 'Mathematics'}
{'_id': ObjectId('673d2ecd80008de1e47b3b48'), 'enrollments': 25, 'course_name': 'CS 102', 'department_name': 'Computer Science'}
{'_id': ObjectId('673d2ecd80008de1e47b3b49'), 'enrollments': 20, 'course_name': 'History 201', 'department_name': 'History'}
{'_id': ObjectId('673d2ecd80008de1e47b3b4a'), 'enrollments': 15, 'course_name': 'Physics 202', 'department_name': 'Physics'}
{'_id': ObjectId('673d475981d818153238c41a'), 'enrollments': 30, 'course_name': 'Math 101', 'department_name': 'Mathematics'}
{'_id': ObjectId('673d475981d818153238c41b'), 'enrollments': 25, 'course_name': 'CS 102', 'department_name': 'Computer Science'}
{'_id': ObjectId('673d475981d818153238c41c'), 'enrollments': 20, 'course_name': 'History 201', 'department_name': 'History'}
{'_id': ObjectId('673d475981d818153238c41d'), 'enrollments': 15, 'course_name': 'Physics 202', 'department_name': 'Physics'}

In [ ]:
# Adding enrollment category field based on enrollments
pipeline = [
    {'$addFields': {'enrollment_category': {'$cond': {'if': {'$gt': ['$enrollments', 20]}, 'then': 'high', 'else': 'low'}}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('673d2ecd80008de1e47b3b47'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics', 'enrollment_category': 'high'}
{'_id': ObjectId('673d2ecd80008de1e47b3b48'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science', 'enrollment_category': 'high'}
{'_id': ObjectId('673d2ecd80008de1e47b3b49'), 'course': 'History 201', 'enrollments': 20, 'department': 'History', 'enrollment_category': 'low'}
{'_id': ObjectId('673d2ecd80008de1e47b3b4a'), 'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics', 'enrollment_category': 'low'}
{'_id': ObjectId('673d475981d818153238c41a'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics', 'enrollment_category': 'high'}
{'_id': ObjectId('673d475981d818153238c41b'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science', 'enrollment_category': 'high'}
{'_id': ObjectId('673d475981d818153238c41c'), 'course': 'History 201', 'enrollments': 20, 'department': 'History', 'enrollment_category': 'low'}
{'_id': ObjectId('673d475981d818153238c41d'), 'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics', 'enrollment_category': 'low'}

tugas

In [ ]:
pipeline = [
    {'$group': {'_id': '$department', 'course_count': {'$sum': 1}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Mathematics', 'course_count': 2}
{'_id': 'Computer Science', 'course_count': 2}
{'_id': 'History', 'course_count': 2}
{'_id': 'Physics', 'course_count': 2}

In [ ]:
print("Courses with enrollments > 25 in 'computer Science':")
pipeline = [
      {'$match': {'enrollments': {'$gt': 25}, 'department': 'Computer Science'}},
      {'$group': {'_id': '$department', 'courses': {'$push': '$courses'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

Courses with enrollments > 25 in 'computer Science':

In [ ]:
print("Join courses with students:")
students_collcetion = db['student']\

pipeline = [
    {'$lookup': {
            'from': "students",
            'localField': "studentIds",
            'foreignField': "_id",
            'as': "enrolledStudents"
        }}
]
for result in courses_collection.aggregate(pipeline):
  print(result)

Join courses with students:
{'_id': ObjectId('673d2ecd80008de1e47b3b47'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics', 'enrolledStudents': []}
{'_id': ObjectId('673d2ecd80008de1e47b3b48'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science', 'enrolledStudents': []}
{'_id': ObjectId('673d2ecd80008de1e47b3b49'), 'course': 'History 201', 'enrollments': 20, 'department': 'History', 'enrolledStudents': []}
{'_id': ObjectId('673d2ecd80008de1e47b3b4a'), 'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics', 'enrolledStudents': []}
{'_id': ObjectId('673d475981d818153238c41a'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics', 'enrolledStudents': []}
{'_id': ObjectId('673d475981d818153238c41b'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science', 'enrolledStudents': []}
{'_id': ObjectId('673d475981d818153238c41c'), 'course': 'History 201', 'enrollments': 20, 'department': 'History', 'enrolledStudents': []}
{'_id': ObjectId('673d475981d818153238c41d'), 'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics', 'enrolledStudents': []}