In [ ]:
!pip install pymongo

Requirement already satisfied: pymongo in /usr/local/lib/python3.10/dist-packages (4.10.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.10/dist-packages (from pymongo) (2.7.0)

In [ ]:
#1
from pymongo import MongoClient

# Inisialisasi client dan koneksi ke database
client = MongoClient('mongodb+srv://dhiyarahma13:sampah13@cluster0.fi1av.mongodb.net/')
db = client['company_db']
collection = db['employees']

# Contoh untuk memastikan koneksi
print('Connected to MongoDB')

Connected to MongoDB

In [ ]:
#2
# Contoh Insert Data
employee_data = {
    'name': 'Alice',
    'department': 'Finance',
    'age': 29,
    'salary': 4500
}

collection.insert_one(employee_data)
print('Data inserted')

Data inserted

In [ ]:
# Contoh Query Data
for employee in collection.find():
    print(employee)

{'_id': ObjectId('67330c0a095b8424153e294e'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}

In [ ]:
#2
# tambahkan data karyawan
additional_employees = [
    {'name': 'dhiya', 'departement': 'IT', 'age': '23', 'salary': 2300},
    {'name': 'yaya', 'departement': 'finance', 'age': '25', 'salary': 4300},
    {'name': 'tria', 'departement': 'HR', 'age': '40', 'salary': 5500},
]

collection.insert_many(additional_employees)
print('data sudah di masukkan')

data sudah di masukkan

In [ ]:
#2
# verifikasi data
for employee in collection.find():
  print(employee)

{'_id': ObjectId('67330c0a095b8424153e294e'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('67330f8a095b8424153e294f'), 'name': 'dhiya', 'departement': 'IT', 'age': '23', 'salary': 2300}
{'_id': ObjectId('67330f8a095b8424153e2950'), 'name': 'yaya', 'departement': 'finance', 'age': '25', 'salary': 4300}
{'_id': ObjectId('67330f8a095b8424153e2951'), 'name': 'tria', 'departement': 'HR', 'age': '40', 'salary': 5500}

In [ ]:
#2
# update gaji
collection.update_one({'name': 'dhiya'}, {'$set': {'salary': 2700}})
print('gaji karyawan sudah di update')

for employee in collection.find():
  print(employee)

gaji karyawan sudah di update
{'_id': ObjectId('67330c0a095b8424153e294e'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('67330f8a095b8424153e294f'), 'name': 'dhiya', 'departement': 'IT', 'age': '23', 'salary': 2700}
{'_id': ObjectId('67330f8a095b8424153e2950'), 'name': 'yaya', 'departement': 'finance', 'age': '25', 'salary': 4300}
{'_id': ObjectId('67330f8a095b8424153e2951'), 'name': 'tria', 'departement': 'HR', 'age': '40', 'salary': 5500}

In [ ]:
#2
# hapus karyawan yang usianya diatas 30 tahun
collection.delete_many({'age': {'$gt': 30}})
print('data karyawan sudah di hapus')

for employee in collection.find():
  print(employee)

data karyawan sudah di hapus
{'_id': ObjectId('67330c0a095b8424153e294e'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('67330f8a095b8424153e294f'), 'name': 'dhiya', 'departement': 'IT', 'age': '23', 'salary': 2700}
{'_id': ObjectId('67330f8a095b8424153e2950'), 'name': 'yaya', 'departement': 'finance', 'age': '25', 'salary': 4300}
{'_id': ObjectId('67330f8a095b8424153e2951'), 'name': 'tria', 'departement': 'HR', 'age': '40', 'salary': 5500}

In [ ]:
#3
# Query Aggregation untuk mencari rata-rata gaji per departemen
pipeline = [
    {'$group': {'_id': '$department', 'average_salary': {'$avg': '$salary'}}}
]
for result in collection.aggregate(pipeline):
    print(result)

{'_id': 'Finance', 'average_salary': 4500.0}
{'_id': None, 'average_salary': 4166.666666666667}

In [ ]:
#4
#latihan1
products = [
    {'name': 'baju', 'category': 'fashion', 'price': 100},
    {'name': 'laptop', 'category': 'elektronik', 'price': 700},
    {'name': 'sepatu', 'category': 'fashion', 'price': 600},
    {'name': 'celana', 'category': 'fashion', 'price': 250},
    {'name': 'Jam Tangan', 'category': 'aksesoris', 'price': 100},
    {'name': 'snack', 'category': 'makanan', 'price': 6},
    {'name': 'mie rebus', 'category': 'makanan', 'price': 10},
    {'name': 'salad', 'category': 'makanan', 'price': 50},
    {'name': 'Buku', 'category': 'alat tulis', 'price': 30},
    {'name': 'Pulpen', 'category': 'alat tulis', 'price': 2}
]

collection_products = db['products']
collection_products.insert_many(products)
print('data sudah di masukkan')

data sudah di masukkan

In [ ]:
#4
#latihan 2
average_price = collection_products.aggregate([
    {'$group': {'_id': None, 'average_price': {'$avg': '$price'}}}
]).next()['average_price']

products_above_average = collection_products.find({'price': {'$gt': average_price}})

print(f'rata-rata harga produk: {average_price}')
print('produk yang harganya di atas rata-rata:')
for product in products_above_average:
    print(product)

rata-rata harga produk: 184.8
produk yang harganya di atas rata-rata:
{'_id': ObjectId('6733163f095b8424153e2953'), 'name': 'laptop', 'category': 'elektronik', 'price': 700}
{'_id': ObjectId('6733163f095b8424153e2954'), 'name': 'sepatu', 'category': 'fashion', 'price': 600}
{'_id': ObjectId('6733163f095b8424153e2955'), 'name': 'celana', 'category': 'fashion', 'price': 250}

In [ ]:
#4
#latihan3
pipeline = [
    {'$group': {'_id': '$category', 'total_products': {'$sum': 1}}}
]

total_products_per_category = collection_products.aggregate(pipeline)

print('Total produk untuk setiap kategori:')
for result in total_products_per_category:
    print(result)

Total produk untuk setiap kategori:
{'_id': 'makanan', 'total_products': 3}
{'_id': 'alat tulis', 'total_products': 2}
{'_id': 'fashion', 'total_products': 3}
{'_id': 'elektronik', 'total_products': 1}
{'_id': 'aksesoris', 'total_products': 1}

In [ ]:
#5
#data
employees = [
    {'name': 'juna akbar', 'department': 'Finance', 'age': 22, 'salary': 4500},
    {'name': 'raka', 'department': 'IT', 'age': 38, 'salary': 2200},
    {'name': 'cinta', 'department': 'IT', 'age': 40, 'salary': 8000},
    {'name': 'joko', 'department': 'IT', 'age': 30, 'salary': 3200},
    {'name': 'puput', 'department': 'HR', 'age': 50, 'salary': 8000},
]

collection.insert_many(employees)
print('Data sudah dimasukan')

Data sudah dimasukan

In [ ]:
for employee in collection.find():
    print(employee)

{'_id': ObjectId('67330c0a095b8424153e294e'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('67330f8a095b8424153e294f'), 'name': 'dhiya', 'departement': 'IT', 'age': '23', 'salary': 2700}
{'_id': ObjectId('67330f8a095b8424153e2950'), 'name': 'yaya', 'departement': 'finance', 'age': '25', 'salary': 4300}
{'_id': ObjectId('67330f8a095b8424153e2951'), 'name': 'tria', 'departement': 'HR', 'age': '40', 'salary': 5500}
{'_id': ObjectId('673318f2095b8424153e295c'), 'name': 'juna akbar', 'department': 'Finance', 'age': 22, 'salary': 4500}
{'_id': ObjectId('673318f2095b8424153e295d'), 'name': 'raka', 'department': 'IT', 'age': 38, 'salary': 2200}
{'_id': ObjectId('673318f2095b8424153e295e'), 'name': 'cinta', 'department': 'IT', 'age': 40, 'salary': 8000}
{'_id': ObjectId('673318f2095b8424153e295f'), 'name': 'joko', 'department': 'IT', 'age': 30, 'salary': 3200}
{'_id': ObjectId('673318f2095b8424153e2960'), 'name': 'puput', 'department': 'HR', 'age': 50, 'salary': 8000}

In [ ]:
#5
#tugas 1
pipeline = [
    {'$sort': {'salary': -1}},
    {'$group': {
        '_id': {'department': '$department', 'name': '$name'},
        'salary': {'$first': '$salary'}
    }},
    {'$group': {
        '_id': '$_id.department',
        'top_employees': {'$push': {'name': '$_id.name', 'salary': '$salary'}}
    }},
    {'$project': {
        'top_employees': {'$slice': ['$top_employees', 5]}
    }}
]

top_employees = collection.aggregate(pipeline)

print('5 karyawan yang gajinya paling tinggi di setiap departement:')
for result in top_employees:
    print(result)

5 karyawan yang gajinya paling tinggi di setiap departement:
{'_id': None, 'top_employees': [{'name': 'tria', 'salary': 5500}, {'name': 'dhiya', 'salary': 2700}, {'name': 'yaya', 'salary': 4300}]}
{'_id': 'IT', 'top_employees': [{'name': 'cinta', 'salary': 8000}, {'name': 'raka', 'salary': 2200}, {'name': 'joko', 'salary': 3200}]}
{'_id': 'HR', 'top_employees': [{'name': 'puput', 'salary': 8000}]}
{'_id': 'Finance', 'top_employees': [{'name': 'juna akbar', 'salary': 4500}, {'name': 'Alice', 'salary': 4500}]}

In [ ]:
#5
#tugas2
deleted_count = collection.delete_many({'age': {'$lt': 35}}).deleted_count
print(f'Jumlah karyawan yang dihapus: {deleted_count}')

Jumlah karyawan yang dihapus: 1

In [ ]:
for employee in collection.find():
    print(employee)

{'_id': ObjectId('67330f8a095b8424153e294f'), 'name': 'dhiya', 'departement': 'IT', 'age': '23', 'salary': 2700}
{'_id': ObjectId('67330f8a095b8424153e2950'), 'name': 'yaya', 'departement': 'finance', 'age': '25', 'salary': 4300}
{'_id': ObjectId('67330f8a095b8424153e2951'), 'name': 'tria', 'departement': 'HR', 'age': '40', 'salary': 5500}
{'_id': ObjectId('673318f2095b8424153e295d'), 'name': 'raka', 'department': 'IT', 'age': 38, 'salary': 2200}
{'_id': ObjectId('673318f2095b8424153e295e'), 'name': 'cinta', 'department': 'IT', 'age': 40, 'salary': 8000}
{'_id': ObjectId('673318f2095b8424153e2960'), 'name': 'puput', 'department': 'HR', 'age': 50, 'salary': 8000}

In [ ]:
#5
#tugas3
pipeline = [
    {'$group': {
        '_id': '$department',
        'total_salary': {'$sum': '$salary'},
        'average_age': {'$avg': '$age'}
    }}
]

salary_age_report = collection.aggregate(pipeline)

print('Laporan ringkas total gaji dan rata-rata umur karyawan di setiap departemen:')
for result in salary_age_report:
    print(result)

Laporan ringkas total gaji dan rata-rata umur karyawan di setiap departemen:
{'_id': 'IT', 'total_salary': 10200, 'average_age': 39.0}
{'_id': 'HR', 'total_salary': 8000, 'average_age': 50.0}
{'_id': None, 'total_salary': 12500, 'average_age': None}